pandas # Useful package for data anaylsis and manipulations using dataframes
openpyxl # Required for opening excel file using pandas
matplotlib # Building visuals and plots
seabron # Complement to matplotlib for statistical visualization
nltk # Library used for NLP operations
gensim # Library for word embedding
scikit-learn # Statistical models and approaches
langdetect # Language detection model
wordcloud # useful for word representation
contractions # pre-processing for expanding contractions, e.g., I'm --> I am
textacy
stanza